.cosmetics-container {
    width: 100%;
    padding: 100px 10px;
  }
  h2 {
    width: 100%;
    margin: 30px auto;
    text-align: left;
  }
  .cosmetic {
    border-top: solid rgb(159, 155, 169);
    margin-top: 10px;
    padding-top: 20px;
  }
