.tweets-container {
    width: 100%;
    padding: 100px 10px;
    padding-top: 100px;
  }

h1 {
    width: 100%;
    margin: 30px auto;
    text-align: left;
  }

h2 {
    width: 100%;
    margin: 30px auto;
    text-align: left;
  }