.show-container {
    width: 100%;
    padding: 100px 10px;
    padding-top: 100px;
  }

.like{    
    width: 50%;
    height: 100px;
    margin-top: 25px;
}

h2{text-align: left;}

h3{text-align: left;}