<%= link_to "投稿一覧", cosmetics_path %>

<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<h1>What’s “PeachCosmeCollege”？</h1>
「大学生って、選べるコスメの金額に制限がどうしてもできちゃう」
<br>
「SNSで大人が勧める美容医療や商品には手が届かない」
<br>
「同世代の人と意見をシェアしてコスメを選びたい」
<br>
そんな思いからこのサイトは生まれました。
<br>
コスメ選びに悩む学生さんたちを助けられる学校のような存在になれますように！


<h1>How to POST</h1>
投稿はこちらから→<%= link_to "新規投稿", new_cosmetic_path %>
<br>
その他投稿内容についてもろもろ説明を書いておく

<h1>How to SEARCH</h1>
<ul>
    <li>コスメ種別を選択して検索することができます。</li>
    <li>価格帯別の検索や、ほかのユーザーが設定したタグでの検索も可能です。</li>
</ul>

<h1>CHECK POSTS</h1>
<ul>
    <li>画面上部の<%= link_to "投稿一覧", cosmetics_path %> より見ることができます。</li>
    <li>投稿一覧ページから投稿の検索ができます。</li>
</ul>