<%= stylesheet_link_tag 'top', :media => "all" %>

<div class="top">


  <div class="title1">
    <h2>What’s “PeachCosmeCollege”？</h2>
    「大学生って、選べるコスメの金額に制限がどうしてもできちゃう」
    <br>
    「SNSで大人が勧める美容医療や商品には手が届かない」
    <br>
    「同世代の人と意見をシェアしてコスメを選びたい」
    <br>
    そんな思いからこのサイトは生まれました。
    <br>
    コスメ選びに悩む学生さんたちを助けられる学校のような存在になれますように！
  </div>

  <div class="title2">
    <h2>How to POST</h2>
    サイドメニューの「新規投稿」から投稿ができます。
    <br>
    ログインをしていないと新規投稿はできません。
    <br>
    新たなタグを追加して投稿したい場合は
    <br>
    先にタグを作ってから新規投稿を作成してください。
  </div>
 
  <div class="title3">
    <h2>How to SEARCH</h2>
    コスメ種別を選択して検索することができます。
    <br>
    価格帯別の検索や、ほかのユーザーが設定したタグでの検索も可能です。
    
  </div>

  <div class="title4">
    <h2>CHECK POSTS</h2>
    <%= link_to "投稿一覧", cosmetics_path %> より見ることができます。</li>
    <br>  
    投稿一覧ページから投稿の検索ができます。
    <br>
    各投稿の「詳細」をクリックすると、コメントができるページに飛べます。
  </div>

</div>